<div class="ui-widget">
{{#nm}}<button class="crumb-button" style="font-size: 11px" onclick="browseDir('/')">fs root</button>{{#crumbs}} <button class="crumb-button" onclick="browseDir('{{path}}')">{{label}}</button>{{/crumbs}}{{/nm}}
<table id="rfm-dirlist" width="100%" border="0" cellspacing="0">
{{#dirs}}
<tr onclick="browseDir('{{path}}')">
	<td class="col-type" width="40">dir</dt>
	<td class="col-name" width="*">{{name}}</dt>
	<td class="col-size" width="40"></dt>
</tr>
{{/dirs}}
{{#files}}
<tr>
	<td class="col-type" width="40">file</dt>
	<td class="col-name" width="*"><a href="/serve{{path}}">{{name}}</a></dt>
	<td class="col-size" width="40">{{size}}</dt>
</tr>
{{/files}}
</table>
</div>
<script type="text/javascript">
	{{#nm}}$(".crumb-button").button();{{/nm}}
	$("#rfm-dirlist tr:even").addClass("ui-state-highlight");
</script>
