<p>Directory {{dir}}</p>
<table width="100%" border="0" cellspacing="0">
{{#parentdir}}<tr><td class="col-type" width="40">dir</td><td class="col-name" width="*"><a onclick="browseDir('{{parentdir}}')">..</a></td></tr>{{/parentdir}}
{{#entries}}<tr>
	<td class=\"col-type\" width=\"40\">{{type}}</td>
	<td class=\"col-name\" width=\"*\">
		{{#size}}<a href=\"/serve{{path}}\">{{name}}</a>{{/size}}
		{{^size}}<a onclick=\"browseDir('{{path}}')\">{{name}}</a>{{/size}}
	</td></tr>{{/entries}}
</table>